# Ambiente virtual
.venv/
venv/

# Variáveis de ambiente
.env

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# JetBrains
.idea/

# Arquivos temporários
*.tmp
